@charset "utf-8";

/* 设置整个页面全局样式 */
html,body{
    margin:0;
    padding:0;
    /* 为了内部元素可以使用百分比,则高度必须事先设置参照物
    否则无效,vw vh不需要设置参照物 */
    height:100%;
    /* 设置字体 */
    font-family: 喜鹊招牌体;
}